.gallery {
  display: inline-block;
  margin: 5px;
  border: 1px solid rgb(17, 19, 40);
  height: 200px;
}
.gallery:hover {
  border-color: rgb(246, 82, 0);
}
.gallery img {
  width: auto;
  height: 100%;
}
.gallery .description { /*not in use rn*/
  text-align: center;
  padding: 5px;
}

.Main {
  display: inline-block;
  margin: 5px;
  border: 4px solid rgb(98, 156, 96);
  width: 400px;
}
.Main:hover {
  border-color: rgb(246, 82, 0);
}
.Main img {
  width: 100%;
  height: auto;
}
.Main .description { /*not in use rn*/
  text-align: center;
  padding: 5px;
}

.Maps {
  display: inline-block;
  margin: 5px;
  margin-left: 40px;
  margin-right: 40px;
  border: 4px solid rgb(98, 156, 96);
  width: 350px;
}
.Maps:hover {
  border-color: rgb(246, 82, 0);
}
.Maps img {
  width: 100%;
  height: auto;
}
.Maps .description { /*not in use rn*/
  text-align: center;
  padding: 5px;
}

.videoplayer {
  aspect-ratio: 16 / 9;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Timeline {
  aspect-ratio: 16 / 9;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}